.filter-master{
    margin:auto;
    width: 60%;
    margin-top:30px;
    
}

.filter-master h2{
    display: inline-block;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 10px;
  
}


@media screen and (max-width :400px) {

    .filter-master{
        margin: auto;
        margin-top:30px;
      width:345.6px;
    }

    
    .filter-master h2{
    display: inline-block;
      font-weight: 500;
      margin-bottom: 10px;
      
    }


}