/* General styling for the container */
.search-container {
  display: flex;
  justify-content: center;


  margin-top: 40px;
  margin-bottom: 30px;

  background-color: inherit;
  align-items: center;

  width: 100%;
  max-width: 900px;
  /* Ensures the search bar doesn't stretch too wide */
  margin-left: auto;
  margin-right: auto;
}

/* Style for the search input */
.search-input {
  flex: 1;
  /* Makes the input take available space */
  padding: 10px;
  font-size: 1rem;
  border: 3px solid #ccc;
  border-radius: 5px;
  outline: none;
  letter-spacing: 1px;
  transition: border-color 0.3s ease;
}

/* Focus state for the input */
.search-input:focus {
  border-color: #007bff;
}

/* Style for the search button */
.search-button {
  padding: 10px 20px;

  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  background-color: #0056b3;
  color: white;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  max-width: 120px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #007bff;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .search-container {
    flex-direction: column;
    padding: 0 0px;
    /* Adds some padding for smaller screens */
    width: 90%;

  }

  .search-input {
    margin-bottom: 10px;
    /* Adds space between input and button on mobile */
    width: 100%;
    font-size: 1.2rem;
    /* Increase font size on mobile */
  }

  .search-button {
    width: 100%;
    /* Button takes full width on mobile */
    font-size: 1.2rem;
    /* Larger button text on mobile */
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .search-container {
    width: 85%;
    /* Keeps search bar size appropriate for tablets */
  }

  .search-input {
    font-size: 1.1rem;
    /* Slightly larger font size for better readability */
  }

  .search-button {
    font-size: 1.1rem;
    /* Slightly larger button text */
  }
}

/* Desktop responsiveness */
@media (min-width: 1025px) {
  .search-container {
    width: 900px;
    /* Maximum width for larger screens */
  }
}